@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{

    background-image: url(asset/img/bg.jpg);
    background-size: max(1200px , 100vw);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
   background-size: max(2500px , 100vw);
}
.main .box{
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0px;
}
nav{
    
    max-width: 60vw;
    margin: auto;
    align-items: center;
    display: flex;
   justify-content: space-between;
   height: 60px;
}
nav img{
    width: 200px;
    position: relative;
    z-index: 10;

}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 22px;
    padding: 30px;
}
.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.line{
    height: 11px;
    background-color: rgb(28, 26, 26);
}
.btn{
    padding: 3px 8px;
    font-weight: 450;
    background-color: rgba(255, 255, 255, 0.04);
    color: white;
    /* border: 1px solid rgb(89, 86, 86); */
    border-radius: 4px;
    cursor: pointer;
    
}
.btn-red-sm{
    background-color: rgb(226, 39, 39);

    color: white;
}
.btn-red{
    background-color: rgb(226, 39, 39);
    color: white;
    border-radius: 4px;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 400;
}
.main input{
    border-radius: 4px;
    padding: 7px 101px 8px 14px;
    font-weight: 100;
    font-size: 12px;
    background-color: rgb(23, 23, 23,0.7);
    border: 1px solid rgba(215, 204, 204, 0.5);
    color: white;
}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}
.first > div{
    display: flex;
    flex-direction: column;
}
.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;

}
.first > div :nth-child(2){
    font-size: 24px;
}
.feq{
    color: white;
    background-color: black;
    padding: 35px;
    font-size: 24px;
}
.feq h2{
    text-align: center;
    font-size: 48px;
}
.feqbox :hover{
    background-color: rgb(15, 14, 14);
}
 .feq .feqbox{
    transition: all 1s easeout;
    justify-content: space-between;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}







